header {
  width: 100%;
  height: 52px;
  background-color: #3a3d42;
  display: flex;
  align-items: center;
}
.intro {
  width: 18%;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
}
.nav {
  font-size: 18px;
  height: 52px;
  line-height: 52px;
  color: #ccc;
}
.nav a {
  margin: 0 30px;
  color: #ccc;
}
.nav a:hover,
.active {
  border-bottom: lightblue 3px solid;
}
.blank {
  flex: 1;
}
.hello {
  font-size: 16px;
  color: white;
  margin-right: 10px;
}
.hello a {
  text-decoration: underline;
  color: white;
}
html,
body {
  height: 100%;
}
main {
  width: 100%;
  height: calc(100% - 52px);
  box-sizing: border-box;
  padding-bottom: 35px;
  position: relative;
}
aside {
  width: 18%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #50545E;
}
aside a {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 8px 0;
  color: #ccc;
}
.title {
  text-align: center;
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
}
footer {
  width: 100%;
  height: 35px;
  background-color: #3a3d42;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
}
.container {
  padding: 10px;
  position: absolute;
  left: 21%;
  right: 0;
  top: 0;
  bottom: 0;
}
